.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  outline: none
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    color: $light
    transition: box-shadow 0.3s
    outline-color: $primary
    &:hover
      box-shadow: none

  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    transition: box-shadow 0.2s
    outline-color: $light
    &:hover
      background-color: rgba($light, 0.3)
      box-shadow:  0 5px 15px rgba($light, 0.2)