*, *:before, *:after
  box-sizing: border-box
  outline: none
html
  font-size: 14px
body 
  font-family: "Futura Book", sans-serif
  font-weight: normal
  font-size: 1rem
img
  max-width: 100%
  object-fit: cover
  object-position: center
.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light 
  &-title
    text-align: center
    margin-bottom: 2.642857rem
    &--left
      text-align: left
      margin-bottom: 3rem
    &--light
        color: $light
    &__heading
      // text-align: center
      font-family: "Yeseva One", cursive
      font-size: 1.45rem
      font-weight: normal
      text-transform: uppercase
      line-height: 28px
      &--primary
        font-size: 1.92857rem
        line-height: 2.642857rem   
        letter-spacing: -0.07em;  
        color: $primary
    &__word 
      display: flex
      align-items: center
      &::after
        content: ''
        width: 92px
        height: 1.7px
        margin-left: 2rem
        background-color: $primary
    &__text
      margin: 0
      margin-top: 1.642857rem
      max-width: 31.57142rem
      font-family: "Futura Book", sans-serif
      font-style: normal
      font-weight: normal
      font-size: 1.285714rem
      line-height: 2.071428rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary 