.text
  max-width: 61.75rem
  text-align: center
  color: $dark-grey
.design
  background: $dark 
  padding-bottom: 20rem
  &__container
    margin-top: -545px
  &__text
    max-width: 52.75rem
    margin: auto
    margin-top: 1.3rem;
    margin-bottom: 3.35rem
    font-family: "Futura Book", sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.428571rem
    line-height: 27px    
  &__pricetag
    bottom: -2rem
    text-align: left
    padding-left: 2.358rem
.card
  &__design
    &-image
      position: relative
      &::before
        content: ''
        position: absolute
        width: 100% 
        height: 100% 
        background: rgba($dark, 0.4)
  &__image
    display: block
  sup
    font-size: 10px
    bottom: 10px