.design
  &__section-text
    max-width: 741px
    margin: auto
    text-align: center
    color: $dark-grey
.design-text
  margin-top: 1.3rem;
  margin-bottom: 3.35rem
  font-family: "Futura Book", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 27px    
.design-pricetag
  bottom: -1.34rem
  text-align: left
  padding-left: 2.358rem