.design
  &__section-text
    max-width: 741px
    margin: auto
    text-align: center
    color: $dark-grey
.design-text
  font-family: "Futura Book", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 27px    