.footer
  position: relative
  background: $dark url("../img/footer-bg2.jpg") no-repeat center / cover
  padding-top: 3rem
  &__wrap
    max-width: 63.071428rem
    margin: auto
    margin-top: -22rem
    padding: 2.5rem 12.928571rem
    background-color: $black
    margin-bottom: 3.714rem
  &__title
    margin-bottom: 3rem
    text-align: center
    font-family: "Yeseva One", cursive
    font-style: normal
    font-weight: normal
    font-size: 1.42857rem
    line-height: 2rem
    text-transform: uppercase
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    line-height: 1.214285rem
    color: $light
  &__input-group  
    display: flex
    flex-direction: column
    flex-basis: 44.7%
    margin-bottom: 3.428571rem
    &--full-width
      flex-basis: 100%
      margin-bottom: 2.35rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.85714rem
    margin-right: 1.571428rem
  &__button
    max-width: 14.28571rem
    width: 100%
    margin: auto
    padding: 1.228571rem 3.857142rem
    font-size: 1.071428rem
  &__menu
    padding: 3.43rem 0
    background-color: $dark