.modal
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  display: flex
  align-items: center
  justify-content: center
  visibility: hidden
  width: 100%
  height: 100%
  background-color: rgba($dark, 0.6)
  opacity: 0
  z-index: 199
  &--visible
    opacity: 1
    visibility: visible
  &__dialog
    position: relative
    max-width: 36.142857rem
    width: 100%
    // max-height: 100vh
    // height: 36.3571428rem
    background: $dark url("../img/bg-line.svg") center no-repeat
    padding: 2.357142rem 3.5rem 1.92857rem
    color: $light
  &__close  
    position: absolute
    right: 0
    top: 0
    width: 28px
    height: 28px
    background: transparent url("../img/close.svg") no-repeat center
    border: none
    margin: 12px
    cursor: pointer
    outline-color: $light
  &__title
    margin: 0
    margin-bottom: 1.9rem
    font-family: "Yeseva One", sans-serif
    font-size: 1.357142rem
    font-style: normal
    font-weight: normal
    line-height: 26px
    text-align: center
  &__form
    display: flex
    flex-direction: column
  &__input
    color: $light
    outline: none
    &-group
      position: relative
      display: flex
      flex-direction: column
      margin-bottom: 3.428571rem
      &:last-of-type
        margin-bottom: 1px
  &__policy
    position: relative
    margin: 0
    margin-bottom: 2.7rem
    vertical-align: top
  &__button
    align-self: flex-end
    padding: 1.357142rem 0
    font-size: 0.928571rem
    width: 100%
    max-width: 15.214287rem
    outline-color: $primary
  &__invalid
    color: $error
  &__alert
    opacity: 0
    visibility: hidden
.alert
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  display: flex
  align-items: center
  justify-content: center
  visibility: hidden
  width: 100%
  height: 100%
  background-color: rgba($dark-grey, 0.6)
  opacity: 0
  z-index: 199
  &__dialog
    position: relative
    max-width: 36.142857rem
    width: 100%
    padding: 2.357142rem 3.5rem 1.92857rem
    color: $light
  &--visible
    opacity: 1
    visibility: visible
span.modal__invalid
  position: absolute
  top: 50px
  left: 0
  margin: 0
  padding: 0
#policyCheckbox-error
  top: 40px
  left: 0
  font-size: 1rem
