.row
  display: flex
  align-items: flex-sart
  justify-content: space-between
.col
  flex-basis: 32%
.card
  &__text
    position: relative
    max-width: 23.57rem
    margin: 0 auto
    margin-top: -10rem
    padding: 1.79rem 2.14rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: "Yeseva One", cursive
    font-weight: normal
    font-size: 1.29rem
  &__list
    margin: 0
    padding: 0 2.42rem
    font-family: "Futura Book", sans-serif
    font-weight: normal
    font-size: 1.25rem
    color: $secondary
    line-height: 2.05rem
